@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  margin:0px;
  box-sizing: border-box;
  padding:0px;
 
}
:root{
  --main-font-size: 20px;
}
body {
  background-color: rgb(28, 3, 39);
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--main-font-size);
  
}

.container{
  width: 50%;
  margin: auto;
}

.questionCard{
  margin: 30px 0px;
  animation: slideIn 1s ease-in-out;
}

input, select, button{
  width: 100%;
  padding: 15px;
  margin: 5px;
  border-radius: 25px 50px;
  font-size: var(--main-font-size);
  outline: none;
  border: 3px solid transparent;
 
  transition: all ease-in 0.1s;
}

input:focus{
  border: 3px solid rgb(159, 39, 202);
}

.newCardButton{
  border-radius: 25px 50px;
  padding: 15px;
  background-color: rgb(159, 39, 202);
  transition: all ease-in 0.1s;
  display: block;
  text-align: center;
  color: white;
  cursor: pointer;
}

.newCardButton:active{
  transform: scale(1.2);
  
}
a{
  color:white;
}
.resultArea{
  margin: 20px auto;
  color: rgba(255, 255, 0, 0.867);
  width:100% !important;
  overflow-x: scroll;
  
}

@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translateY(-20px)
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}


